<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>
<p>
  <strong><%= @poll.choices[0].name %>:</strong>
  <%= @poll.choices[0].votes %>
</p>
<p>
  <strong><%= @poll.choices[1].name %>:</strong>
  <%= @poll.choices[1].votes || 0%>
</p>
<%= link_to 'Back', polls_path %>
